<!DOCTYPE html>
<html>
<head>
    <title>Library Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="center">
    <div class="glass" style="width:350px; text-align:center; color:white;">
        <h2>📚 Smart Library</h2>
        <p>Login to continue</p>

        <form method="post">
            <input name="username" placeholder="Library ID">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
        </form>
    </div>
</div>

</body>
</html>
